<!DOCTYPE HTML>
<html>
  <head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50048820-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-50048820-10');
</script>

    <title>Timeline</title>
    <script src="./city-population-more-than-2m.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.13.1/js-yaml.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://unpkg.com/spacetime"></script>
    <link rel="stylesheet" href="./this.css" />
    <link rel="icon" href="/favicon.ico">
  </head>

<body>
  <div id="app">

  <!-- HERO -->
  <div class="hero is-medium is-dark has-background">
    <img class="hero-background is-transparent" src="https://source.unsplash.com/random/?landmark,city" />
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
<!--
              <a class="navbar-item is-active">Home</a>
              <a class="navbar-item">Examples</a>
              <span class="navbar-item">
                <a class="button is-inverted">
                  <span class="icon"><i class="fab fa-github"></i></span> <span>Github</span>
                </a>
              </span>
-->
              <a class="navbar-item" href="https://github.com/narutaro/world-timeline">Documentation</a>
              <a class="navbar-item" href="https://github.com/narutaro/world-timeline"><span class="icon"><i class="fab fa-github"></i></span><span>Github</span></a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <h1 class="title">World Timeline</h1>
            <h3 class="subtitle">Arranging a meeting in the world</h3>
          </div>
          <div class="column">
            <multiselect
              v-model="selectedCities"
              placeholder="city name?"
              label="city" track-by="city_ascii"
              :options="options"
              :multiple="true"
              :taggable="true"
            ></multiselect>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTROL -->
  <section class="section">
    <div class="columns">
      <div class="column">
        <div class="buttons has-addons is-pulled-right">
          <span class="button" v-bind:class="" @click="unshiftWeek"><i class="fas fa-angle-double-left"></i></span>
          <span class="button" v-bind:class="" @click="unshiftDay"><i class="fas fa-angle-left"></i></span>
          <span class="button" v-bind:class="" @click="shiftDay"><i class="fas fa-angle-right"></i></span>
          <span class="button" v-bind:class="" @click="shiftWeek"><i class="fas fa-angle-double-right"></i></span>
        </div>
        <div class="buttons has-addons"> 
          <span class="button" v-bind:class="intervals.one" @click="selectInterval('one')">1h</span>
          <span class="button" v-bind:class="intervals.half" @click="selectInterval('half')">30min</span>
<!--          <span class="button" v-bind:class="intervals.quarter" @click="selectInterval('quarter')">15min</span> -->
        </div>
      </div>
    </div> 
  </section>

  <!-- TIMELINE -->
  <section class="section">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-vertical" v-for="city in cityTimeline" @click="debug(city)">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image">
                <img v-bind:src="'https://flagcdn.com/' + city[0][0].iso2.toLowerCase() + '.svg'" width="48">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-5">{{ city[0][0].city }}</p>
              <p class="subtitle is-6">{{ city[0][0].country }}</p>
            </div>
          </div>
        </div>
        <div class="tile is-child box" v-bind:class="isWorkTime(time.hourtf)" v-for="time in city[currentPage]" @click="selectTimes(time.no)"> 
        <!-- <div class="tile is-child box" v-for="time in city[currentPage]" @click="selectTimes(time.no)"> -->
          <p style="text-align: left; float: left">{{ time.fnice }} <a class="button is-small"> {{ time.fday }}</a></p>
          <!--<p style="text-align: right" v-show="time.selected"><i class="far fa-calendar-check"></i></p> -->
          <p style="text-align: right" v-show="time.selected" class="has-text-danger"><i class="fas fa-check"></i></p>
        </div>
      </div>
    </div>
  </section>

  <div class="modal" v-bind:class="{'is-active': modalActive}">
    <div class="modal-background"></div>
    <div class="modal-content">
      <section class="section">
        <p class="title modal-text">Meeting candidates</p>
        <table class="table is-narrow">
          <tbody id="js-tbody">
            <tr v-for="(opt, idx) in meetingsByNo">
              <td style="vertical-align: middle;" class="modal-text">Option {{ idx+1 }}</td>
              <td v-for="city in opt">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <img v-bind:src="'https://www.countryflags.io/' + city.iso2 + '/flat/48.png'">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="modal-text">{{ city.city }}</p>
                      <!-- <p class="modal-text">{{ city.fnice }} <a class="button is-small">{{ city.fday }}</a></p> -->
                      <p class="modal-text">{{ city.fnice }} {{ city.fday }}</p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      <a class="button copy-target" :data-clipboard-text="formattedData">Copy to clipboard</a>
      </section>
    </div>
    <button class="modal-close is-large" aria-label="close" @click="modalSwitch();"></button>
  </div>

  <!-- DEBUG
  <section class="section">
    <p class="title">meetings</p>
    <pre class="language-json"><code>{{ meetings }}</code></pre>
  </section>
  <section class="section">
    <p class="title">meetingsByNo</p>
    <pre class="language-json"><code>{{ meetingsByNo }}</code></pre>
  </section>
  <section class="section">
    <p class="title">formattedData</p>
    <pre class="language-json"><code>{{ formattedData }}</code></pre>
  </section>
  <section class="section">
    <p class="title">selectedTime</p>
    <pre class="language-json"><code>{{ selectedTime }}</code></pre>
  </section>
  <section class="section">
    <p class="title">selectedCities</p>
    <pre class="language-json"><code>{{ selectedCities }}</code></pre>
  </section>
  <section class="section">
    <p class="title">cityTimeline</p>
    <pre class="language-json"><code>{{ cityTimeline }}</code></pre>
  </section> 
  -->

  <!-- FAB -->
  <a class="fabtn" @click="showMeetings(); modalSwitch();">
    <i class="far fa-calendar-check"></i>
  </a>

  </div><!-- APP -->
</body>


<script>

// Copy to clipboard
var clipboard = new ClipboardJS('.copy-target');

clipboard.on('success', function(e) {
  console.info('Action:', e.action);
  console.info('Text:', e.text);
  console.info('Trigger:', e.trigger);
  e.clearSelection();
});

clipboard.on('error', function(e) {
  console.error('Action:', e.action);
  console.error('Trigger:', e.trigger);
});

// JSON to YAML
function jsonToYaml(json) {
 let jString = JSON.stringify(json)
 let doc = jsyaml.load(jString)
 return jsyaml.safeDump(doc)
}

// Divide for pagination
Array.prototype.divide = function(n) {
  var ary = this;
  var idx = 0;
  var results = [];
  var length = ary.length;

  while (idx + n < length){
    var result = ary.slice(idx,idx+n)
    results.push(result);
    idx = idx + n
  }

  var rest = ary.slice(idx,length+1)
  results.push(rest)
  return results;
}

// Create timeline
let createTimeline = (spaceTimeInstance, timeZone, daysToCreate, selectedTimeNo, cityObject) => {
  spi = spaceTimeInstance.goto(timeZone);
  let timeline = [...Array(daysToCreate)].map((_, i) => {
    let aDay = {
      no: i,
      city: cityObject.city,
      country: cityObject.country,
      iso2: cityObject.iso2,
      year: spi.format('year'),
      monthShort: spi.format('month-short'),
      dayOfTheWeekShort: spi.format('day-short'),
      day: spi.format('date'),
      hour: spi.format('hour'),
      ampm: spi.format('{ampm}'),
      fday: spi.format('day-short'),
      fnice: spi.format('nice'),
      selected: selectedTimeNo.includes(i) ? true : false,
      hourtf: spi.hour()
    }

    spi = spi.add(30, 'minutes')

    return aDay
    //return spi.format('nice')
    //console.log(i, spaceTimeInstance.format('nice'))
  })
  return timeline
};

/*
let el = createTimeline(st, 'Europe/London', 30)
let at = createTimeline(st, 'Asia/Tokyo', 30)
let al = createTimeline(st, 'America/Los_Angeles', 30)
console.log(el, at, al)
*/

var vm = new Vue({
  el: '#app',
  components: { Multiselect: window.VueMultiselect.default },
  data () {
    return {
      spaceDate: spacetime.now().nearest('hour'),
      selectedCities: [],
      options: cities,
      selectedTime: [], // array of selected timeline id. it needs to change when time-interval(1h, 30min, 15min) is changed
      meetings: [],
      meetingsByNo: [],
      intervals: { 
        currentInterval: "one",
        one: { "is-selected is-danger": true },
        half: { "is-selected is-danger": false },
        quarter: { "is-selected is-danger": false }
      },
      modalActive: false,
      currentPage: 0, // TODO: check if the page is more than 15days future or past day
    }
  },
  computed: {
    cityTimeline: function () {
      cts = this.selectedCities.map((city) => {
        // 720 * 30min = 15days
        let ct = createTimeline(this.spaceDate, city.timezone, 720, this.selectedTime, city)
        if (this.intervals.currentInterval === 'one') {
          // show only XX:00
          ct = ct.filter((time, idx) => idx % 2 == 0 )
          return ct.divide(24)
        } else {
          // show XX:00 and XX:30
          return ct.divide(48)
        }
      })
      console.log(cts)
      return cts
    },
    formattedData: function () {
      let options = {}
      this.meetingsByNo.forEach(function(option, index) {
        cityTime = {}
        option.forEach(function(city){
          cityTime[city.city] = city.fnice
        })
        options["Option " + (index + 1)] = cityTime
      })
      return jsonToYaml(options)
    }
  },
  methods: {
    debug: function (x) {
    //  console.log('DEBUG:', x)
    },
    isWorkTime: function(hour) {
      let workTime = [9, 10, 11, 12, 13, 14, 15, 16, 17]
      let grayZoneTime = [6, 7, 8, 18, 19, 20]
      if (workTime.indexOf(hour) !== -1) {
        return "bg-worktime";
      } else if (grayZoneTime.indexOf(hour) !== -1) {
        return "bg-gray-zone-time"
      } else {
        return "bg-non-worktime";
      }
    },
    modalSwitch: function () {
      this.modalActive = !this.modalActive
      console.log("modal switch called")
    },
    shiftDay: function () {
      vm.currentPage = vm.currentPage + 1
    },
    unshiftDay: function () {
      vm.currentPage = vm.currentPage - 1
    },
    shiftWeek: function () {
      vm.currentPage = vm.currentPage + 7
    },
    unshiftWeek: function () {
      vm.currentPage = vm.currentPage - 7
    },
    selectTimes: function (timeId) {
      this.cityTimeline.forEach(function(city) {
        console.log('selectTimes is called:', 'currentPage:', vm.currentPage, 'cityName', city[vm.currentPage][0].city, 'timeId:', timeId)
        //vm.meetings.splice(0, 0, city[vm.currentPage][timeId])
      })
      //this.selectedTime.push(timeId)
      this.toggleSelectedTime(timeId)
    },
    toggleSelectedTime: function (timeId) {
      let index = this.selectedTime.indexOf(timeId)
      if (index !== -1) {
        this.selectedTime.splice(index, 1) 
      } else {
        this.selectedTime.push(timeId)
      }
    },
    showMeetings: function () {
      //Initialize meetings and meetingsByNo
      this.meetings.splice(0);
      this.meetingsByNo.splice(0);
      
      this.cityTimeline.map(function(city){
        city.map(function(page){
          page.map(function(time){
            if (time.selected === true){
              vm.meetings.splice(0, 0, time)
            }
          })
        })
      })
      this.formatMeetings(this.meetings)
    },
    formatMeetings: function(meetings) {
      // group by time_number
      const nos = [...new Set(meetings.map(date => date.no))]
      nos.map(function(i) {
        let dates = vm.meetings.filter(date => i == date.no)
        //vm.meetingsByNo.push(dates) // does not work for clipboard copy probably because it is not reactive
        vm.meetingsByNo.splice(0, 0, dates)
      })
    },
    selectInterval: function(selectedInterval) {
      
      this.intervals.currentInterval = selectedInterval
      Object.keys(this.intervals).map((i) => this.intervals[i]["is-selected is-danger"] = selectedInterval === i ? true : false)
      
      console.log('currentInterval', this.intervals.currentInterval)
      
    }
  }
})


</script>
