<!DOCTYPE HTML>
<html>
<head>
  <title>Timeline</title>
  <script src="./cities.top100.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
  <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" />
<!--  <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://unpkg.com/spacetime"></script>
  <link rel="stylesheet" href="./this.css" />
  <link rel="icon" href="/favicon.ico">
</head>

<!--
<style>
.underTheEarth {
  background-image: -webkit-radial-gradient(50% 150%, #787B7D 5%, #4B5052 100%);
  background-image: radial-gradient(50% 150%, #787B7D 5%, #4B5052 100%); }
.milkyWay {
  background-image: -webkit-linear-gradient(bottom, #F4F4F4 0%, #DFDEDC 100%);
  background-image: linear-gradient(to top, #F4F4F4 0%, #DFDEDC 100%); }
</style>
-->

<!-- <body class="milkyWay"> -->
<body>

<div id="app">

<div class="hero is-medium is-dark has-background">
  <img class="hero-background is-transparent" src="https://source.unsplash.com/random/?landmark,city" />


  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">

<!--
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
-->
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Examples
            </a>
            <a class="navbar-item">
              Documentation
            </a>
            <span class="navbar-item">
              <a class="button is-dark is-inverted">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Github</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>


  <div class="hero-body">
    <div class="container">

      <div class="columns is-vcentered">

        <div class="column">
          <h1 class="title">World Timeline</h1>
          <h3 class="subtitle">Arranging a meeting in the world</h3>
        </div>

        <div class="column">
          <multiselect
            v-model="selectedCities"
            placeholder="city name?"
            label="city" track-by="city_ascii"
            :options="options"
            :multiple="true"
            :taggable="true"
          ></multiselect>
        </div>

      </div>

    </div>

  </div>
</div>

<section class="section">


      <div class="columns">
        <div class="column">

          <div class="buttons has-addons is-pulled-right">
            <span class="button" v-bind:class="" @click="unshiftWeek"><i class="fas fa-angle-double-left"></i></span>
            <span class="button" v-bind:class="" @click="unshiftDay"><i class="fas fa-angle-left"></i></span>
            <span class="button" v-bind:class="" @click="shiftDay"><i class="fas fa-angle-right"></i></span>
            <span class="button" v-bind:class="" @click="shiftWeek"><i class="fas fa-angle-double-right"></i></span>
          </div>

          <div class="buttons has-addons"> 
            <span class="button" v-bind:class="intervals.one" @click="selectInterval('one')">1h</span>
            <span class="button" v-bind:class="intervals.half" @click="selectInterval('half')">30min</span>
            <span class="button" v-bind:class="intervals.quarter" @click="selectInterval('quarter')">15min</span>
          </div>

        </div>
      </div> 

</section>

<section class="section">
<div class="tile is-ancestor">
  <div class="tile is-parent is-vertical" v-for="city in selectedCitiesWithTimeline" @click="debug(city.city)">

    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image">
            <img v-bind:src="'https://www.countryflags.io/' + city.iso2 + '/flat/48.png'">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-5">{{ city.city }}</p>
          <p class="subtitle is-6">{{ city.country }}</p>
        </div>
      </div>
    </div>

    <div class="tile is-child box" v-for="time in city.timeline" @click="selectTimes(time.no)">
      <!-- <p style="text-align: left; float: left">{{ time.monthShort }} {{ time.day }} {{ time.ftime }} {{time.fday}} {{time.fdate}} {{time.fnice}}</p> -->
      <!-- <p style="text-align: left; float: left">{{ time.fnice }} <span class="tag is-light"> {{ time.fday }}</span></p> -->
      <p style="text-align: left; float: left">{{ time.fnice }} <a class="button is-small"> {{ time.fday }}</a></p>
      <p style="text-align: right" v-show="time.selected"><i class="far fa-calendar-check"></i></p>

    </div>

</div>
</section>

<!-- MODAL -->
<div class="modal" v-bind:class="{'is-active': modalActive}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->

<section class="section">
  <p class="title">Meeting candidates</p>
  <table class="table is-narrow">
<!--
    <thead>
      <tr v-for="cand in meetingsByNo">
        <th v-for="city in cand">
          <img v-bind:src="'https://www.countryflags.io/' + city.iso2 + '/flat/24.png'">
        </th>
      </tr>
    </thead>
-->
    <tbody>
      <tr v-for="(opt, idx) in meetingsByNo">
        <td style="vertical-align: middle;">Option {{ idx+1 }}</td>
        <td v-for="city in opt">

    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image">
            <img v-bind:src="'https://www.countryflags.io/' + city.iso2 + '/flat/48.png'">
          </figure>
        </div>
        <div class="media-content">
<!--
          <p class="title is-5">{{ city.city }}</p>
          <p class="subtitle is-6"> {{ city.monthShort }} {{ city.day }} {{ city.hour }}{{ city.ampm }}</p>
-->
          <p>{{ city.city }}</p>
          <!-- <p>{{ city.monthShort }} {{ city.day }} {{ city.hour }}{{ city.ampm }}</p> -->
          <!-- <p>{{ city.fnice }} {{ city.fday }}</p> -->
          <p>{{ city.fnice }} <a class="button is-small"> {{ city.fday }}</a></p>
        </div>
      </div>
    </div>

        </td>
      </tr>
    </tbody>
  </table>
</section>




  </div>
  <button class="modal-close is-large" aria-label="close" @click="modalSwitch();"></button>
</div>


<!--
<section class="section">
  <pre class="language-json"><code>{{ spaceDate }}</code></pre>
  <pre class="language-json"><code>{{ spaceDate.format('nice') }}</code></pre>
</section>
-->

<section class="section">
  <p class="title">meetings</p>
  <pre class="language-json"><code>{{ meetings }}</code></pre>
</section>
<section class="section">
  <p class="title">meetingsByNo</p>
  <pre class="language-json"><code>{{ meetingsByNo }}</code></pre>
</section>
<section class="section">
  <p class="title">selectedCities</p>
  <pre class="language-json"><code>{{ selectedCities }}</code></pre>
</section>
<section class="section">
  <p class="title">selectedCitiesWithTimeline</p>
  <pre class="language-json"><code>{{ selectedCitiesWithTimeline }}</code></pre>
</section>




<a class="fabtn" @click="copyMeetings(); modalSwitch();">
    <i class="far fa-calendar-check"></i>
</a>

</div>


</body>


<script>

//st = spacetime.now().nearest('hour') // rounded to closest hour

let createTimeline = (spaceTimeInstance, timeZone, daysToCreate, selectedTimeNo, interval) => {
  spi = spaceTimeInstance.goto(timeZone);
  let timeline = [...Array(daysToCreate)].map((_, i) => {
    let aDay = {
      no: i,
      year: spi.format('year'),
      monthShort: spi.format('month-short'),
      dayOfTheWeekShort: spi.format('day-short'),
      day: spi.format('date'),
      hour: spi.format('hour'),
      ampm: spi.format('{ampm}'),
      //ftime: spi.format('time'),
      fday: spi.format('day-short'),
      //fdate: spi.format('date-nice'),
      fnice: spi.format('nice'),
      selected: selectedTimeNo.includes(i) ? true : false
    }
    
    if (interval === 'one') {
      spi = spi.add(1, 'hour')
    } else if (interval === 'half') {
      spi = spi.add(30, 'minutes') 
    } else if (interval === 'quarter') {
      spi = spi.add(15, 'minutes')
    }

    return aDay
    //return spi.format('nice')
    //console.log(i, spaceTimeInstance.format('nice'))
  })
  return timeline
};

/*
let el = createTimeline(st, 'Europe/London', 30)
let at = createTimeline(st, 'Asia/Tokyo', 30)
let al = createTimeline(st, 'America/Los_Angeles', 30)
console.log(el, at, al)
*/


var vm = new Vue({
  el: '#app',
  components: { Multiselect: window.VueMultiselect.default },
  data () {
    return {
      spaceDate: spacetime.now().nearest('hour'),
      selectedCities: [],
      options: cities,
      selectedTime: [],
      meetings: [],
      meetingsByNo: [],
      intervals: { 
        currentInterval: "half",
        one: { "is-selected is-danger": false },
        half: { "is-selected is-danger": true },
        quarter: { "is-selected is-danger": false }
      },
      modalActive: false
    }
  },
  computed: {
    selectedCitiesWithTimeline: function () {
      return this.selectedCities.map((city) => {
        city.timeline = createTimeline(this.spaceDate, city.timezone, 10, this.selectedTime, this.intervals.currentInterval)
        return city
      })
    }
  },
  methods: {
    debug: function (x) {
      console.log(x)
    },
    modalSwitch: function () {
      this.modalActive = !this.modalActive
    },
    shiftDay: function () {
      vm.spaceDate = vm.spaceDate.add(1, 'day')
    },
    unshiftDay: function () {
      vm.spaceDate = vm.spaceDate.subtract(1, 'day')
    },
    shiftWeek: function () {
      vm.spaceDate = vm.spaceDate.add(1, 'week')
    },
    unshiftWeek: function () {
      vm.spaceDate = vm.spaceDate.subtract(1, 'week')
    },
    selectTimes: function (timeId) {
      this.selectedCitiesWithTimeline.forEach(function(city) {
        console.log(city.city, city.timeline[timeId].hour)
      })
      //this.selectedTime.push(timeId)
      this.toggleSelectedTime(timeId)
    },
    toggleSelectedTime: function (timeId) {
      let index = this.selectedTime.indexOf(timeId)
      if (index !== -1) {
        this.selectedTime.splice(index, 1) 
      } else {
        this.selectedTime.push(timeId)
      }
    },
    copyMeetings: function () {
      this.meetings.splice(0); // https://jp.vuejs.org/v2/guide/list.html
      this.meetingsByNo.splice(0); // https://jp.vuejs.org/v2/guide/list.html

      this.selectedCitiesWithTimeline.map(function(city){
        city.timeline.filter(time => time.selected == true).map(function(date){
          date['city'] = city.city 
          date['country'] = city.country 
          date['iso2'] = city.iso2
          vm.meetings.splice(0, 0, date)
        })
      })
      //console.log(this.meetings)
      this.formatMeetings(this.meetings)
      //console.log(this.meetingsByNo)
    },
    formatMeetings: function(meetings) {
      // group by time_number
      const nos = [...new Set(meetings.map(date => date.no))]
      nos.map(function(i) {
        let dates = vm.meetings.filter(date => i == date.no)
        vm.meetingsByNo.push(dates)
      })
    },
    selectInterval: function(selectedInterval) {
      this.intervals.currentInterval = selectedInterval
      Object.keys(this.intervals).map((i) => this.intervals[i]["is-selected is-danger"] = selectedInterval === i ? true : false)
    }
  }
})


</script>
